<div> 
    <div>
        Data Binding
    </div>
    <div clASS="row">
        <div class="col-6">
             <div> 
                One Way
            </div>
            <div>
                 <div> 
                     Form .ts to Html
                 </div>
                 <div class="col-3">
                    Interpolation
                 </div>
                 <div class="col-3">
                    Property Binding
                 </div>
            </div>
            <div>
                <div class="col-3"> 
                    Form html to .ts
                </div>
                <div class="col-3" bg-success>      
                    Event Binding
                </div>
            </div>
            </div>
        <div class="col-6" p-3>
            Two Way
        </div>
        <div class="col-6" p-3 bg-success>
            ng model
            </div>
    </div>
</div>
